PORT=4000
HOST=0.0.0.0
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wealthsync?schema=public"
JWT_SECRET="wealthsync_super_secure_jwt_secret_key_2026_finance"
COOKIE_SECRET="wealthsync_cookie_secret_salt_at_least_32_characters_long_key_wealth"
FRONTEND_URL="http://localhost:3000"
